@import "_vars";

* {
  outline: none !important;
}
body {
  background-color: $black-one;
}

.overflow-hidden {
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
  }
}

a {
  &:hover {
    text-decoration: none;
  }
}
