$white: #ffffff;
$green-border: #a2f21e;
$icon-menu: #4de845;
$button-menu-hover: #43ce3c;
$text-two-section: #a2f81d;
$text-slider-section: #63ed3b;
$green-dots: #61ec3c;
$green-link: #a1f421;
$gray: #323234;
$gray-text: #999999;
$black: #000000;
$black-one: #151515;
$black-two: #030b15;
$black-three: #0f1218;

// font-family
$SF_Pro: "SF Pro Display";
$Morebi_Rounded: "Morebi Rounded";
$Mulish: "Mulish";
//

// font-weight
$extra-bold: 800;
$bold: bold;
$medium: 600;
$regular: normal;
$semibold: 700;
$light: 300;

// font-style
$italic: italic;
$normal: normal;
